/** @format */

@import "variables";
@import "mixins";

@import "basic/reset";
@import "basic/typography";
@import "basic/utilities";

@import "components/button";
@import "components/pagination";
@import "components/header";
@import "components/socialicons";
@import "components/title";
@import "components/progress";
@import "components/service";
@import "components/portfolio";
@import "components/resume";
@import "components/testimonial";
@import "components/form";
@import "components/blog";
@import "components/blogdetails";
@import "components/notfound";

@import "pages/home";
@import "pages/about";
@import "pages/contact";

// Color variations
@import "basic/light";

/*******************************
*******CUSTOM STYLE SHEET*******
*******************************/
.project-involve-wrapper {
	margin-top: 20px;

	.title {
		cursor: pointer;
		display: inline-block;
		margin-bottom: 20px;
		font-size: 20px;
		border-bottom: 1px solid $light-color-theme;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		span {
			position: relative;
			top: -2px;
			margin-right: 5px;
		}
	}

	.mi-resume-project-wrapper {
		margin-left: 30px;
		display: none;

		&.show {
			display: block;
		}

		.mi-resume-project {
			margin-bottom: 10px;
			max-width: 100%;
			border-bottom: 1px solid $color-border;

			&:last-child {
				border-bottom: none;
			}

			.field {
				margin-bottom: 10px;

				div:first-child {
					display: inline-block;
					width: 20%;
					color: #ffffff;
					vertical-align: top;
					font-weight: bold;
				}

				div:nth-child(2) {
					display: inline-block;
					width: 80%;
					vertical-align: top;

					>ul>li {
						margin-bottom: 5px;
					}

					.feature-branches {
						>li {
							margin-bottom: 5px;
							font-weight: bold;
							color: #037fff;
						}
					}
				}

				&.responsibility div:nth-child(2) {
					ul {
						margin: 0;
						padding-left: 18px;
					}
				}

				@media only screen and (max-width: 1430px) {
					>div {
						display: block !important;
						width: 100% !important;
					}
				}
			}
		}
	}
}

.light .project-involve-wrapper .mi-resume-project-wrapper .mi-resume-project {
	border-color: $light-color-theme;

	.field div:first-child {
		color: #10121b;
	}
}

.mi-progress-line-divider {
	position: absolute;
	top: 0px;
	width: 2px;
	height: 6px;
	background-color: #10121b;

	&.d1 {
		left: 12.5%;
	}

	&.d2 {
		left: 25%;
	}

	&.d3 {
		left: 37.5%;
	}

	&.d4 {
		left: 50%;
	}

	&.d5 {
		left: 62.5%;
	}

	&.d6 {
		left: 75%;
	}

	&.d7 {
		left: 87.5%;
	}

	&.d8 {
		left: 100%;
	}
}

.light .mi-progress-line-divider {
	background-color: #ffffff;
}

.cert-btn-next {
	margin-left: 40px;
}

@media only screen and (max-width: 1000px) {
	.cert-btn1 {
		display: block;
		width: auto;
		max-width: 180px;
		margin: 20px 0 30px;
	}

	.cert-btn-next {
		display: block;
		width: auto;
		max-width: 300px;
		margin-left: 0px;
		margin-bottom: 30px;
	}
}

/*******************************
*****PROGRESS HOVER EFFECT******
*******************************/

.mi-progress {
	position: relative;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz--transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

	.mi-progress-title {
		cursor: default;
	}

	.additional-info {
		cursor: default;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		min-height: 0;
		border: 1px solid;
		border-color: transparent;
		border-radius: 4px;
		background-color: transparent;
		width: 100%;
		padding: 20px;
		z-index: 0;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz--transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: opacity 0.6s ease-in-out;
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz--transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
	}

	&:hover {
		z-index: 99;

		.mi-progress-title {
			color: $light-color-theme;
		}

		.additional-info {
			visibility: visible;
			opacity: 1;
			z-index: 99;
			min-height: 70px;
			color: $light-color-theme;
			background-color: #ffffff;
			border-color: $light-color-theme;
		}
	}
}

// .light .mi-progress .additional-info {
// 	color: #ffffff;
// 	background-color: $light-color-theme;
// 	border-color: $light-color-theme;
// }

/***********************************
*****LINK REFERENCE HOVER EFFECT****
***********************************/

.mi-blog {
	position: relative;

	.mi-link-reference-wrapper {
		display: flex;
		position: absolute;
		left: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		max-height: 0;
		background-color: transparent;
		padding: 15px;
		visibility: hidden;
		opacity: 0;
		border: 1px solid;
		border-color: transparent;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz--transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;

		div a:hover {
			color: #ffffff;
		}
	}

	&:hover {
		.mi-link-reference-wrapper {
			visibility: visible;
			opacity: 1;
			max-height: 220px;
			background-color: #10121b;
			border-color: #111939;
		}
	}
}

.light {
	.mi-blog {
		.mi-link-reference-wrapper {
			background-color: #ffffff;
			border-color: transparent;

			div a {
				color: $light-color-theme;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}